@media (max-width: 640px) {

  .flex-1 > div {
    overflow: visible;
  }


  .inline-flex {
    padding: 8px 14px !important;
    font-size: 12px !important;
    letter-spacing: 0.3px; /* ده اللي “يفرّد” الكلمة بصريًا */
    gap: 6px;
      width: fit-content;
  }


}

/* جميع حقول الإدخال */
input,
select,
textarea {
  color: #000 !important;
}

/* النص المكتوب داخل البحث */
input::placeholder,
textarea::placeholder {
  color: #6b7280 !important;
}

/* عناصر الـ dropdown */
option {
  color: #000 !important;
  background: #fff !important;
}
.ng-select .ng-select-container {
  color: #000 !important;
}

.ng-dropdown-panel .ng-option {
  color: #000 !important;
  background: #fff !important;
}